# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем файлы кэша и базы данных
__pycache__/
db.sqlite3

# Логи и временные файлы
*.log
*.pyc
*.pyo
*.swp

staticfiles

# Игнорируем файлы конфигурации IDE
.vscode/
*.iml
.idea/
.idea
*.sublime-workspace
