{% extends 'base.html' %}
{% include 'thermo/includes/left_chapters.html' %}
{% block content %}


<h1>{{title}}</h1>
 
<ul>
    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Street Name</th>
            <th>Numbers</th>
            <th>Construction Volume</th>
            <th>Indoor Air Temperature</th>
            <th>Construction Year</th>
            <th>Heating Characteristic</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.street_name }}</td>
            <td>{{ post.numbers }}</td>
            <td>{{ post.construction_volume }}</td>
            <td>{{ post.indoor_air_temperature }}</td>
            <td>{{ post.construction_year }}</td>
            <td>{{ post.heating_characteristic }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</ul>
{% include 'thermo/includes/nav.html' %}
{% endblock %}