{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'thermo/css/form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'thermo/css/dropdown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'thermo/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'thermo/css/formula.css' %}">
{#	<link type="text/css" href="{% static 'thermo/css/styles.css' %}" rel="stylesheet" />#}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'thermo/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'heat_power_home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	{% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
		<a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
	<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
    <ul id="leftchapters" class="nav flex-column">
        <!-- Обычные ссылки -->
        <li><a class="nav-link text-dark fw-bold" href="{% url 'heat_power_home' %}">Результаты расчетов</a></li>
        <li><a class="nav-link text-dark fw-bold" href="{% url 'heat_power_home' %}">Расчет тепловой мощности</a></li>

        <!-- Расчет тепловых потерь (с вложенным списком) -->
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" data-bs-toggle="collapse" href="#heatLossesMenu" role="button">
                Расчет тепловых потерь
            </a>
            <div class="collapse" id="heatLossesMenu">
                <ul class="list-unstyled ms-3">
                    <li><a class="nav-link text-dark" href="{% url 'heat_losses' %}">Потери с утечкой и
                        заполнение трубопровода </a></li>
                    <li><a class="nav-link text-dark" href="{% url 'insulation_losses' %}">Потери через изоляцию</a></li>
                    <li><a class="nav-link text-dark" href="{% url 'result_losses' %}">Общие нормы потерь</a></li>
                    <li><a class="nav-link text-dark" href="{% url 'predict_pipeline' %}">Рекомендации замены
                        трубопровода</a></li>
                </ul>
            </div>
        </li>
        <li><a class="nav-link text-dark fw-bold" href="{% url 'electricity_costs' %}">Расчет затрат электроэнергии</a></li>
		<li class="share">
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>Что-нибудь можно добавить</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>