{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Расчет потерь через изоляцию</h1>

{% for laying_type in laying_types %}
<h2>{{ laying_type.1 }}</h2>
<table class="table table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th rowspan="2">Наружный диаметр трубопровода, мм</th>
            <th rowspan="2">Длина участка (км)</th>
            <th rowspan="2">Теплоизоляционный материал</th>
            <th rowspan="2">Толщина материала мм</th>
            <th colspan="2">Удельные теплопотери, ккал/(м·ч)</th>
            <th rowspan="2">Действия</th>
        </tr>
        <tr>
            <th>Подающий трубопровод</th>
            <th>Обратный трубопровод</th>
        </tr>
    </thead>
    <tbody>
        {% for heat_loss in heat_losses_by_type %}
            {% if heat_loss.laying_type == laying_type.0 %}
                {% for item in heat_loss.heat_losses %}
                    <tr>
                        <td>{{ item.pipeline_segment.diameter }}</td>
                        <td>{{ item.pipeline_segment.length|floatformat:3 }}</td>
                        <td>{{ item.pipeline_segment.insulation_material }}</td>
                        <td>{{ item.insulation_thickness_mm }}</td>
                        <td>{{ item.heat_loss_supply|floatformat:2 }}</td>
                        <td>{{ item.heat_loss_return|floatformat:2 }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="dropbtn">⋮</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'edit_insulation' item.id %}">Редактировать</a>
                                    <a href="#"
                                       class="delete-btn"
                                       data-segment-id="{{ item.id }}"
                                       data-delete-url="{% url 'delete_insulation' 0 %}"
                                       data-csrf-token="{{ csrf_token }}">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">Нет данных</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}

    <!-- Кнопка для перехода на страницу добавления -->
<a href="{% url 'create_pipeline_insulation' %}" class="btn btn-primary">Добавить</a>


<h1>Часовые нормы тепловых потерь для разных видов прокладки:</h1>

<h3>Подземная прокладка: </h3>
<div class="summary-block">
    <strong>{{heat_insulation.underground}} Гкал/ч</strong>
     <br>
    <a class="btn btn-link mt-2" data-bs-toggle="collapse" href="#formulaCollapse6" role="button"
       aria-expanded="false" aria-controls="formulaCollapse">
        Показать формулу расчёта
    </a>
     <div class="collapse" id="formulaCollapse6">
        <div class="card card-body mt-2 text-start">
    Формула:<br>
    $$ Q_{год.п} = \sum_{i=1}^{n} (q_{из.н.п} \times L \times \beta) \times 10^{-6} \quad \text{Гкал/ч} $$ <br>
    где:
    <div class="formula-block">
        <div class="formula-line">
            <div class="formula-variable">\( Q_{год.п} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">нормативные теплопотери через изоляцию (Гкал/ч)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( q_{из.н.п} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">удельные нормативные потери (Вт/м)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( L \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">длина трубопровода (м)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( \beta \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">коэффициент условий эксплуатации</div>
        </div>
    </div>
    </div>
    </div>
</div>

<h3>Наземная прокладка: </h3>
<div class="summary-block">
    <strong>{{heat_insulation.above_ground}} Гкал/ч</strong>
    <br>
    <a class="btn btn-link mt-2" data-bs-toggle="collapse" href="#formulaCollapse7" role="button"
       aria-expanded="false" aria-controls="formulaCollapse">
        Показать формулу расчёта
    </a>
     <div class="collapse" id="formulaCollapse7">
        <div class="card card-body mt-2 text-start">
    Формула:<br>
    $$ Q_{год.н} = \sum_{i=1}^{n} (q_{из.н.н} \times L \times \beta) \times 10^{-6} \quad \text{Гкал/ч} $$ <br>
    где:
    <div class="formula-block">
        <div class="formula-line">
            <div class="formula-variable">\( Q_{год.н} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">нормативные теплопотери через изоляцию (Гкал/ч)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( q_{из.н.н} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">удельные нормативные потери (Вт/м)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( L \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">длина трубопровода (м)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( \beta \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">коэффициент условий эксплуатации</div>
        </div>
    </div>
    </div>
    </div>
</div>

<h3>В канале: </h3>
<div class="summary-block">
    <strong>{{heat_insulation.channel}} Гкал/ч</strong>
     <br>
    <a class="btn btn-link mt-2" data-bs-toggle="collapse" href="#formulaCollapse8" role="button"
       aria-expanded="false" aria-controls="formulaCollapse">
        Показать формулу расчёта
    </a>
     <div class="collapse" id="formulaCollapse8">
        <div class="card card-body mt-2 text-start">
    Формула:<br>
    $$ Q_{год.к} = \sum_{i=1}^{n} (q_{из.н.к} \times L \times \beta) \times 10^{-6} \quad \text{Гкал/ч} $$ <br>
    где:
    <div class="formula-block">
        <div class="formula-line">
            <div class="formula-variable">\( Q_{год.к} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">нормативные теплопотери через изоляцию (Гкал/ч)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( q_{из.н.к} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">удельные нормативные потери (Вт/м)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( L \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">длина трубопровода (м)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( \beta \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">коэффициент условий эксплуатации</div>
        </div>
    </div>
    </div>
    </div>
</div>

<h3>Общие потери: </h3>
<div class="summary-block">
    <strong>{{heat_insulation.total}} Гкал/ч</strong>
</div>

    <h1>Годовые нормы тепловых потерь: </h1>
<div class="summary-block">
    <strong>{{year_insulation}} Гкал</strong>
    <br>
    <a class="btn btn-link mt-2" data-bs-toggle="collapse" href="#formulaCollapse9" role="button"
       aria-expanded="false" aria-controls="formulaCollapse">
        Показать формулу расчёта
    </a>
     <div class="collapse" id="formulaCollapse9">
        <<div class="card card-body mt-2 text-start">
    Формула:<br>
    $$ Q_{из.год} = Q_{из} \times n_{г} $$ <br>
    где:
    <div class="formula-block">
        <div class="formula-line">
            <div class="formula-variable">\( Q_{из.год} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">годовые теплопотери через изоляцию (Гкал)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( Q_{из} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">часовые теплопотери через изоляцию (Гкал/ч)</div>
        </div>
        <div class="formula-line">
            <div class="formula-variable">\( n_{г} \)</div>
            <div class="formula-dash">—</div>
            <div class="formula-text">продолжительность отопительного периода (часы)</div>
        </div>
    </div>
</div>
    </div>
</div>


<script src="{% static 'heat_losses/js/dropdown.js' %}"></script>

{% endblock %}